<%= render :partial => "sidebar", :locals => {:active => "contact"} %>
<h1 class="pagetitle">Contact</h1>
<p>
		This system is supported by the Great Lakes Bioenergy Research Center. It is being actively developed by the IIT team. If you have any questions or need assistance with the site please contact the site administrator.
</p>

<h2 class="title">Contact Information</h2>