<%= render :partial => "sidebar", :locals => {:active => "contact"} %>
<h1 class="pagetitle">Contact</h1>
<p>
  For all questions and requests relating to GLBRC analysis tools please contact:<br/><br/>
  
  <%= link_to 'helpdesk@glbrc.org', 'mailto:helpdesk@glbrc.org' %><br/><br/>
  
  Include the title 'Genome Suite' in your subject to route your e-mail to the correct team.
</p>