<%= render :partial => "sidebar", :locals => {:active => "faq"} %>
<% content_for :top_bar do %>	
	<h1 class="pagetitle">Frequently Asked Questions</h1>
	<div id='toc' style="padding-left:25px;"/>
<% end %>

<% video_text = "Watch Demo" %>

<div class="clear">
  
<h2 class="title">Genomic Context</h2>

<h3 class="title">How do I load data into the site?</h3>
<p>
  Users are not allowed to load data at this point in time. If there is a genome
  or sample that you would like to have loaded please contact a site administrator.
</p>


<h3 class="title">Can I change the order of tracks?</h3>
<p>
  Yes, tracks are rendered in the order they are listed. To change the order of a track, drag it
  into a new position in the active tracks list. The main tracks window will then automatically
  update the display to reflect the changes.
</p>

<h3 class="title">What is dragmode?</h3>
<p>
	The current dragmode defines what actions will occur when you click on the main tracks window.
	The dragmode can be chosen from the mode selection dropdown or by clicking the mode selection
	button to cycle through each mode. There are also hotkeys mapped to each mode for convenience.
	The hotkey (shift) toggles to the next mode.
	<ul>
		<li><p><b>Browse-</b>(hotkey 'b')<br/>
			The browse mode allows you to pan along the genome. After clicking anywhere in the main
			tracks window you can drag the genome left or right in the direction you want to view.
			Thenew data will automatically be downloaded and drawn to the screen.</p>
		</li>
		<li><p><b>Zoom-</b>(hotkey 'z')<br/>
			The zoom mode allows you to quickly select a region on the genome you wish to view in
			more detail. After clicking anywhere in the main tracks window you can drag the mouse to
			highlight the region you wish to zoom into.</p>
		</li>
		<li><p><b>Scale-</b>(hotkey 's')<br/>
			The scale mode allows you to change the scale of each individual track. Most tracks on the
			browser have elements that can be scaled. Clicking on the track and dragging the mouse up
			or down with increase or decrease the scale respectively.</p>
		</li>
		<li><p><b>Resize-</b>(hotkey 'r')<br/>
			The resize mode allows you to change the height of each individual track. Clicking on the
			track and dragging the mouse up or down with increase or decrease the height respectively.</p>
		</li>
		<li><p><b>Select-</b>(hotkey 'e')<br/>
			The select mode allows you to quickly select a region of an individual track. Clicking and
			dragging will highlight the region. Selecting a region will display track specific
			information for the chosen area.</p>
		</li>
	</ul>
</p>

<h3 class="title">Can I change the zoom level?</h3>
<p>
  There are several different ways to change the zoom level of the browser. On the top navigator
  bar there is a pixel/base ratio that displays the current zoom level. You can type any valid
  ratio into this box and then press enter or click "Go" to change the zoom. The "Zoom In" and
  "Zoom out" buttons represented by a "+" and "-" step up and down through the available zoom
  levels. Also, the mousemode zoom tool allows you to select a region to view in more detail.
</p>

<h3 class="title">What is a layout?</h3>
<p>
  A layout is a saved set of preferences for a particular genome. Layouts are persistent and will
  remain in the system even after you logout. The layout will save an in-order list of active
  tracks, the height of each track, the color of each track, the position on the genome and the
  current zoom level. A list of layouts is available in the 'Layouts' panel. Clicking on any of
  the listed layouts will refresh the view with the stored information. If a layout has been loaded
  it will be listed in the top left corner of the site.
</p>


<h3 class="title">Can I share a layout with another user?</h3>
<p>
  No, only layouts that you have created will be displayed under your layout list. However,
  if you bookmark or copy the url at any time and give it to another user, they will be
  able to open the link and see your configuration.
</p>

</div>

<div class="clear">

<h2 class="title">Expression</h2>

  <h3>How do I open the expression viewer?</h3>
  <p>
  	The Tools-><%= link_to "Expression Viewer", expression_viewer_path %> link will allow you to
  	generate a tabular listing of expression data. You can choose the assembly you are interested
  	in and build either a matrix of results or a ratio of two sets.
  </p>
</div>

<script type="text/javascript">
//Dynamic Table of Contents
Event.observe(window, 'load', function(){
	toc = $('toc');
	if(toc){
	  var categories = $$('div.clear')
	  for(var c=0; c<categories.length;c++){
	    var cat = categories[c];
	    var title = cat.select('h2')[0]
	    var lt = document.createElement("p")
	    console.log(title)
	    lt.innerHTML = "<b>"+title.innerHTML+"</b><u>"
	    var lu = document.createElement("ul")
	    toc.appendChild(lt);
	    lt.appendChild(lu);
	   	items = cat.select('h3');
  		for(var i=0;i<items.length;i++){	
  			item = items[i]
			  var a = document.createElement("a");
			  a.setAttribute('name','l'+i);
				var li = document.createElement("li");
				li.innerHTML = "<a href='#"+('l'+i)+"'>"+item.innerHTML+"</a>";
				lu.appendChild(li);
				item.parentNode.insertBefore(a,item);
  		}
	  }
	}
});

</script>