<div class='table' width="100%" style='overflow-x:auto'>
  <table class="listing">
    <th>Name</th>
    <th>Description</th>
    <th>Correlation</th>
    <% if coexpressed_search %>
      <% coexpressed_search.hits.each do |hit| %>
        <% feature = Biosql::Feature::Seqfeature.find(hit.stored(:id), :include => [:feature_counts]) %>
        <tr>
          <td><%= link_to Array(hit.stored(:locus_tag_text)).first, seqfeature_path(feature,:fmt => 'expression') %></td>
          <td><%= Array(hit.stored(:description_text)).first %></td>
          <td><%= current_feature.get_correlation(feature) %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>No results found</tr>
    <% end %>
  </table>
</div>
<br/ style="clear:both">