<%# report = @blast_report.report %>
<div id="blast_alignment" class="blast_alignment" style="display:none; position:absolute; z-index:100; top:0px; left:0px;"></div>

<div class="table">
  <table class="listing" style="clear:both" width="100%">
  	<thead>
  		<th>Accession</th>
  		<th>Definition</th>
  		<th>Score</th>
  		<th width="100px" style="white-space:nowrap">E-value</th>
  		<th>Options</th>
  	</thead>
  	<tbody>
			<% @blast_report.hits.each_with_index do |hit,idx| %>
				<tr class="<%= cycle('odd','even') %>">
					<%= render :partial  => 'blast_reports/hit', :locals => {:hit => hit, :idx => idx, :blast_db => @blast_report.blast_database, :blast_report => @blast_report} %>
				</tr>
			<% end %>
  	</tbody>
  </table>
</div>