<% content_for :sidebar do -%>
  <% active = '' unless defined? active %>
  <h3>Tools</h3>
  <ul class="nav">
  <li><%= link_to "Tools", tools_path, :class => "#{'active' if active== 'tools'}" %></li>
  <li><%= link_to "Smooth data", smooth_tools_path, :class => "#{'active' if active== 'smooth'}" %></li>
  <li><%= link_to "Expression Viewer", expression_viewer_tools_path, :class => "#{'active' if active== 'expression'}" %></li>
  <li><%= link_to "details", details_tools_path, :class => "#{'active' if active== 'details'}" %></li>
<% end -%>