<div style="width:300px">
  <div style="text-align:left;width:150px;float:left">
    Set A:
    1+ variations<br/>
    <%= select_tag :set_a, options_from_collection_for_select(@variants,:id,:name,params[:set_a]), :multiple => true %>
  </div>
  <div style="text-align:left;width:150px;float:right">
    Set B:
    No variations<br/>
    <%= select_tag :set_b, options_from_collection_for_select(@variants,:id,:name,params[:set_b]), :multiple => true %>
  </div>
</div>