<% content_for :top_bar do -%>
  <h1 class="pagetitle">Expression Viewer</h1>
<% end -%>

<%= render :partial => "sidebar", :locals => {:active => "expression"} %>

<% content_for :item_bar do -%>
  <%= link_to "Back To Search", expression_viewer_tools_path(:taxon_version_id => params[:taxon_version_id], :experiments => params[:experiments]), :class => "button" %>
<% end -%>

<% @search %>