<% if biosequence||=@biosequence %>
  <% start ||= 1 %>
  <% stop ||= biosequence.length %>
  <% format ||= 'fasta' %>
  <% case format %>
  <% when 'fasta' %>
  <div style="font-family:'Courier';background:#FEFEFE;padding:1em;word-wrap:break-word">
><%=  biosequence.bioentry.name%> from <%= start %> to <%= stop %><br/>
<%= biosequence.get_seq(start-1,(stop-start)+1).html_safe %>
  </div>
  <% end %>
<% end %>