<% content_for :sidebar do -%>
	<% active = '' unless defined? active %>
	<h3>Experiment types</h3>
	<ul class="nav">
	<li><%= link_to "Listing", bioentries_path, :class => "#{'active' if active== 'listing'}" %></li>
	<li><%#= link_to "Upload", new_bioentry_path, :class => "#{'active' if active== 'new'}" %></li>
	</ul>
<% end -%>