<% content_for :top_bar do -%>
	<h1 class="pagetitle">ChIP Chip Samples</h1>
<% end -%>
<%= render :partial => "samples/sidebar", :locals => {:active => 'chip_chip'} %>
<%= render :partial => "samples/listing", :locals => {:sample_type => "chip_chip"} %>