<div style="clear:both;float:left">
	<% unless sample.description.blank? %>
	<p>
		<b>Description:</b><br/>
		<%= sample.description.gsub(/\n/, "<br/>").html_safe  %>
	</p>
	<% end %>

	<p>
		<b>Created by:</b>
		<%= sample.user.login unless sample.user.nil?%>
	</p>
	<p>
	  <b>Uploaded on:</b>
		<%= sample.created_at.strftime("%m/%d/%Y at %I:%M%p") %>
	</p>
	<% if sample.group %>
    <p>
  	  <b>Group:</b>
  		<%= link_to sample.group.name, sample.group %>
  	</p>
	<% end %>
</div>



