public/javascripts/sequence_viewer.js
coverage
.bundle
db/*.sqlite3
log/*.log
log/*.lck
tmp/
config/database.yml
config/settings.yml
config/sunspot.yml
config/ldap.yml
solr/data
solr/pids
lib/data/samples/*
lib/data/sequence/*
lib/data/blast_db/*
