<!-- <h3>Options</h3>
<%#= f.label "Is this strand specific sequence?" %>
Yes <%#= f.radio_button :show_negative, "Yes"%>
No <%#= f.radio_button :show_negative, "No", :checked => ((@rna_seq.show_negative != 'true') ? true : '')%><br/> -->