<% content_for :top_bar do -%>
	<h1 class="pagetitle">mRNA-Seq Samples</h1>
<% end -%>
<%= render :partial => "samples/sidebar", :locals => {:active => 'rna_seq'} %>
<%= render :partial => "samples/listing", :locals => {:sample_type => "rna_seq"} %>