<% content_for :top_bar do -%>
	<h1 class="pagetitle">New mRNA-Seq Experiment</h1>
<% end -%>

<% content_for :item_bar do -%>
  <div style="float:right;padding-right:1em">
    <%= link_to "Back", rna_seqs_path, :class => "button" %>
  </div>
<% end -%>

<%= render :partial => "experiments/sidebar" %>

<%= error_messages_for :rna_seq %>

<%= render :partial => 'experiments/form', :locals => {:experiment => @rna_seq} %>