<% content_for :top_bar do -%>
	<h1 class="pagetitle">Ratio Samples</h1>
<% end -%>
<%= render :partial => "samples/sidebar", :locals => {:active => 'ratio'} %>
<%= render :partial => "samples/listing", :locals => {:sample_type => "synthetic"} %>