<% content_for :sidebar do -%>
	<h3>Admin Tasks</h3>
	<ul class="nav">
		<li><%= link_to "Users", admin_users_path %></li>
		<li><%= link_to "Roles", admin_roles_path %></li>
		<%# if RAILS_ENV == 'development' %>
			<li><%#= link_to "Authorization Rules", authorization_rules_path %></li>
		<%# end %>
	</ul>

<% end %>