.formtastic,
.formtastic ul,
.formtastic ol,
.formtastic li,
.formtastic fieldset,
.formtastic legend,
.formtastic input,
.formtastic textarea,
.formtastic select,
.formtastic p {
  background:none;
}

.formtastic legend {
	font-size:125%;
	font-style:bold;
	color:#345;
}
.formtastic li {
	float:left;
	width:70%;
}

.formtastic .smalltext{
	width:20%;
}

.formtastic textarea {
 	height:50px;
	width:70%;
	max-width:100%;
}

.formtastic .stringish input {
  max-width:50%;
}

.formtastic .input {
margin-bottom:0em;
}

.formtastic ul, .nested-fields {
	margin-bottom:.5em;
	border-bottom:1px solid whitesmoke;
}

.formtastic input.button {
    height:12px;
	text-align:center;
	color:#fff;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:20px;
	padding-left:3px;
	border:none;
	background: #ffbd3e;
	background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0.2, #ffbd3e),
			color-stop(0.8, #ff8d0e)
		);
	background:	-moz-linear-gradient(
			center top,
			#ffbd3e 20%,
			#ff8d0e 80%
		);
	border: 1px solid #f70;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
.formtastic input.button:hover{
    cursor:pointer;
    background: #ffcd4e;
    background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0.2, #ffcd4e),
			color-stop(0.8, #ff8d0e)
		);
	background:	-moz-linear-gradient(
			center top,
			#ffbd3e 20%,
			#ff8d0e 80%
		);
}