/* Gene Details Page */
.clear h1{font-size:150%;}
.clear table {clear:both; width:96%; margin:0 0 0.2em 2%; table-layout: fixed; border-collapse:collapse; empty-cells:show; background-color:rgb(250,250,250);font-size:90%;}
.clear table th {background-color:rgba(255,255,255,0);height:2.0em; padding:2px 20px 2px 7px; border:none; text-align:left; color:rgb(80,80,80); font-weight:bold; font-size:115%;}
.clear table td {background-color:rgba(255,255,255,0);height:1.0em; padding:2px 7px 2px 7px; border:none; text-align:left; font-weight:normal; color:rgb(70,70,70); font-size:110%;}
.clear table td.keyword {width:15%; vertical-align:top; font-weight:bold; color:rgb(40,40,40);}
.clear table td.options {width:15%; text-align:right; vertical-align:top;}
.clear table tr.odd {background-color:rgb(230,230,230);}
.clear table tr.even {background-color:rgb(250,250,250);}
.clear .border{margin-bottom: 1em; margin-left:1em;background-color:rgb(250,250,250);border:2px solid;border-color:rgb(230,230,230);padding:1em;width:95%;;}
.clear .border_white{margin-bottom: 1em; margin-left:1em;background-color:rgb(255,255,255);border:2px solid;border-color:rgb(230,230,230);padding:1em;width:95%;;}
.clear h2 {margin:0.1em 0 0.5em 0;}


/*search match color*/
.darkred{
    color:#a22;
}

/*faq page styles*/
.left-faq{float:left;width:75%;}
.right-faq{float:right;padding: 10px 30px;}

/*experiments*/
.form_item{
  padding:1em;
  margin-bottom:1em;
  width : 65%;
}
.asset{
  width:200px;
	margin-left:2em;
	background:#fff;
	border: 3px solid rgb(185,185,185);
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-box-shadow: 3px 7px 9px #555;
	-webkit-box-shadow: 3px 7px 9px #655566;
	box-shadow: 3px 7px 9px #555;
	padding:5px;
	margin:5px;
}
.asset_green{
  width:135px;
  font-size:75%;
	margin-left:2em;
	background:#fff;
	border: 3px solid rgb(185,210,190);
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-box-shadow: 3px 7px 9px #555;
	-webkit-box-shadow: 3px 7px 9px #655566;
	box-shadow: 3px 7px 9px #555;
	padding:5px;
	margin:5px;
}

.asset_orange{
  width:135px;
  font-size:75%;
	margin-left:2em;
	background:#fff;
	border: 3px solid rgb(215,200,170);
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-box-shadow: 3px 7px 9px #555;
	-webkit-box-shadow: 3px 7px 9px #655566;
	box-shadow: 3px 7px 9px #555;
	padding:5px;
	margin:5px;
}

.card {
	margin-left:2em;
	background:#fff;
	border: 3px solid rgb(185,185,185);
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-box-shadow: 3px 7px 9px #555;
	-webkit-box-shadow: 3px 7px 9px #655566;
	box-shadow: 3px 7px 9px #555;
	padding:5px;
	margin:5px;
}

.smallcard {
  font-size:80%;
	margin-left:1em;
	background:#fff;
	border: 2px solid rgb(185,185,185);
	border-radius: 6px;
/*  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 3px 6px 8px #555;
  -webkit-box-shadow: 3px 6px 8px #655566;
  box-shadow: 3px 6px 8px #555;*/
	padding:4px;
	margin:4px;
}

/* Some extra styles*/
h1.pagetitle {margin:0 0 0.4em 0; padding:0 0 2px 0; border-bottom:solid 7px #c3c4c7; color:#345; font-weight:bold; font-size:220%;}
h1.pagetitle a {color:rgb(75,75,75);}
h2.title {margin:1 0 0.4em 0; padding:0 0 2px 0; border-bottom:solid 4px #c3c4c7; color:#445; font-weight:bold; font-size:180%;}
h2.title a {color:rgb(75,75,75);text-decoration:none;color:rgb(75,75,75)}
h2.title a:hover {cursor:pointer;color:rgb(75,75,75)}
h2.smalltitle {margin:1 0 0.4em 0; padding:0 0 2px 0; border-bottom:solid 4px #c3c4c7; color:#445; font-weight:bold; clear:both;font-size:120%;width:150px}
h3 {clear:both; margin:0em 0 0.5em 0; color:#434447}
/*error notice*/
#errorExplanation{
  width: 700px;
  border: 2px solid red;
  padding: 5px;
  padding-bottom: 1em;
  margin: 5px;
  background-color: #fff0f0;
  	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 3px 3px 9px #666;
	-webkit-box-shadow: 3px 3px 9px #666;
	box-shadow: 3px 3px 9px #666;
}

/*flash messages */
#flash_error {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin: 5px;
  background-color: #fff0f0;
  	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 3px 3px 9px #666;
	-webkit-box-shadow: 3px 3px 9px #666;
	box-shadow: 3px 3px 9px #666;
}

#flash_warning {
  width: 400px;
  border: 2px solid orange;
  padding: 7px;
  padding-bottom: 12px;
  margin: 5px;
  background-color: #fff5f0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 3px 3px 9px #666;
    -webkit-box-shadow: 3px 3px 9px #666;
    box-shadow: 3px 3px 9px #666;
}
.flash_warning {
  border: 2px solid orange;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #fff5f0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 3px 3px 9px #666;
    -webkit-box-shadow: 3px 3px 9px #666;
    box-shadow: 3px 3px 9px #666;
}

#flash_alert {
  width: 400px;
  border: 2px solid orange;
  padding: 7px;
  padding-bottom: 12px;
  margin: 5px;
  background-color: #fff5f0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 3px 3px 9px #666;
    -webkit-box-shadow: 3px 3px 9px #666;
    box-shadow: 3px 3px 9px #666;
}

#flash_notice {
  width: 400px;
  border: 2px solid green;
  padding: 7px;
  padding-bottom: 12px;
  margin: 5px;
  background-color: #F0FFF0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 3px 3px 9px #666;
    -webkit-box-shadow: 3px 3px 9px #666;
    box-shadow: 3px 3px 9px #666;
}

/* Colored Boxes for the left Column. Useful for Highlighting Notes, Quick Tips*/

/* left column box-headers */
#left-column .hb-grey {
/*  float:left;*/
	background:#7E878A;
	border:1px solid #B8B8B8;
	border-bottom:0;
	padding:3px 10px;
	margin: 15px 0 0 0;
	color:#fff;
	text-transform:uppercase;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}	
#left-column .hb-green {
	background:#4E875A;
	border:1px solid #88B888;
	border-bottom:0;
	padding:3px 10px;
	margin: 15px 0 0 0;
	color:#fff;
	text-transform:uppercase;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}
#left-column .hb-blue {
/*  float:left;*/
	background:#4E578A;
	border:1px solid #B8B8B8;
	border-bottom:0;
	padding:3px 10px;
	margin: 15px 0 0 0;
	color:#fff;
	text-transform:uppercase;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}
    	
/* left column boxes */
#left-column .box-grey {
	padding:5px;
	border:1px solid #B8B8B8;
	background:#EBEBEB;
	margin:0 0 15px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}
#left-column .box-green {
	padding:5px;
	border:1px solid #88B888;
	background:#CBEBCB;
	margin:0 0 15px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}
#left-column .box-blue {
/*  float:left;*/
    width:121px;
	padding:5px;
	border:1px solid #8888B8;
	background:#CBCBEB;
	margin:0 0 15px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}	
.greybutton {
    height:12px;
	display:inline-block;
	text-align:center;
	color:#fff;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:20px;
	padding-left:3px;
	border:none;
	background: #ededfd;
	background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0.2, #ededfd),
			color-stop(0.8, #bdbdcd)
		);
	background:	-moz-linear-gradient(
			center top,
			#ededfd 20%,
			#bdbdcd 80%
		);
	border: 1px solid #aaa;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
.greybutton:hover{
    cursor:pointer;
    background: #f5f5fe;
    background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0.2, #f5f5fe),
			color-stop(0.8, #bfbfcf)
		);
	background:	-moz-linear-gradient(
			center top,
			#f5f5fe 20%,
			#bfbfcf 80%
		);
}
.card { 	
	background:#fff;
	border: 1px solid #849dae;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-box-shadow: 3px 7px 9px #555;
	-webkit-box-shadow: 3px 7px 9px #655566;
	box-shadow: 3px 7px 9px #555;
	padding:5px;
	margin:5px;
	}
	
.digg_pagination {
background: white;
cursor: default;
/* self-clearing method: */ }
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px; }
.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd; }
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1; }
.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5; }
  .digg_pagination a:hover, .digg_pagination a:focus {
    color: #000033;
    border-color: #000033; }
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
* html .digg_pagination {
  height: 1%; }
*:first-child + html .digg_pagination {
  overflow: hidden; }


.blast_alignment {
  border:           outset black 2px;
  width:            700px;
  padding:          4px;
  background-color: #FFFFFF;
}
table.blast_report td {
  font-size: 80%;
}
table.blast_report th {
  padding: .25em;
  font-weight: bold;
  text-align: center;
}
table.blast_report td.odd {
	background:#EEE;
}
table.blast_report td.even {
	background:#FFFFCC;
}	
/*table.blast_report td.head {
    background-color: #006633;
    font-size:        80%;
    font-weight:      bold;
    color:            #FFFFFF;
}*/
table.blast_report td.subhead {
    background-color: #648FAB;
    font-size:        80%;
    font-weight:      bold;
    color:            #FFFFFF;
}
tr.alignment {
  font-family: Courier New, monospace;
  font-size: 1.4em;
}
tr.alignment pre {
  margin:0px;
}

.item_bar_options {
  position:absolute;
  background-color:white;
  right:.5em;
  bottom:-.75em;
}

table.dropdown_blue {
  font-size: 100%;
  background:rgb(100,143,171);
	border-spacing:0;
  width:100%;
	padding-left:10px;
	margin:0;
}
table.dropdown_blue td {	
  background:rgb(240,250,250);
	color:#000;
	padding:3px 5px;
}
table.grey tr:nth-child(odd) td {
  background:#ECECEC;
}
table.dropdown_blue tr:nth-child(odd) td {
  background:#fff;
}