<% content_for :top_bar do -%>
  <h1 class='pagetitle'>Groups</h1>
<% end -%>
<% content_for :item_bar do -%>
  <% if can? :create, Group.new %>
    <%= link_to 'Create New Group', new_group_path, :class => 'button' %>
  <% end %>
<% end -%>
<%= render :partial => "home/sidebar" %>
<%= render :partial => 'listing', :locals => {:groups => @groups} %>
