<p>
  One last note,<br/>
  <b>The information in this system is confidential and subject to use under the <%= link_to "GLBRC Information Systems Confidentiality Notice","http://www.glbrc.org/sites/default/files/information_systems_confidentiality.htm", :target => "#" %></b><br/>
  If you find something you shouldn't then let us know.
</p>