<% content_for :head do %>
	<%= stylesheet_link_tag 'sstree' %>
	<%#= render :partial => "common/extjs" %>
	<%= javascript_include_tag 'sstree' %>
<% end %>

<% content_for :top_bar do %>
	<!-- Header here -->
	<h1 class="pagetitle">Transcriptomes</h1>
<% end %>

<% content_for :item_bar do %>
	<!-- Filter / Search items here -->
	<div style="float:left">
	</div>
<% end %>

<% content_for :sidebar do %>
	<!-- Sidebar / Links / Notices here -->
	<%= render :partial => "biosql/bioentries/sidebar", :locals => {:active => 'transcriptome'} %>
<% end %>

<%= render :partial => "assemblies/species_list", :locals => {:species => @species} %>