<% content_for :top_bar do -%>
  <h1 class="pagetitle">Editing: <%= @ontology.name %></h1>
<% end -%>
<%= render :partial => 'admin/sidebar', :locals => {:active => 'ontology'} %>

<%= render 'form' %>