<div id="graphics_container">
  Displaying data for : <%= @bioentry.display_info %>. View in <%= link_to "Sequence Viewer", bioentry_path(@bioentry, :tracks => [@chip_seq.tracks.with_bioentry(@bioentry.id).first.id]) %>
  <div id='exp_chart'>
  	<%= swf_tag "mixed_plot.swf", 
  		:id => "#{@chip_seq}_plot", 
  		:size => "600x300", 
  		:flashvars => {
  			:checklabel => "Show Peaks", 
  			:pointseries => "Peaks", 
  			:lineseries => "Tag Count",
  			:entry_id => @bioentry.id,
  			:id => @chip_seq.id, 
  			:local_url => "#{root_path}chip_seqs/"
  		} %>
  </div>
  <%= select_tag :bioentry_id, options_from_collection_for_select(@chip_seq.bioentries_experiments, :bioentry_id, :bioentry_short_name, @bioentry.id), :onChange => "window.location='#{chip_seq_url(@chip_seq)}?bioentry_id='+this.options[this.selectedIndex].value"%>
</div>