<% content_for :top_bar do%>
	<h1 class="pagetitle">ChIP Seq Experiments</h1>
<% end %>
<%= render :partial => "experiments/sidebar" %>
<%= render :partial => "experiments/listing", :locals => {:exp_type => "chip_seq"} %>