<% content_for :top_bar do%>
	<h1 class="pagetitle">ChIP Seq Samples</h1>
<% end %>
<%= render :partial => "samples/sidebar", :locals => {:active => 'chip_seq'} %>
<%= render :partial => "samples/listing", :locals => {:sample_type => "chip_seq"} %>