<div class="form_item">
	<h3 class="pagetitle">Metadata</h3>
	Choose a unique name for your experiment. Try to keep it concise.<br/>
	<%= f.text_field :name, :size => 25%>
	<br/>
	<br/>

	Enter any descriptive information you would like to remember.<br/>
	<%= f.text_area :description, :rows => "7" %><br/>
</div>

<div class="form_item">
	<%= render :partial => "experiments/sequence", :locals => {:f => f} %>
</div>
