<div style="clear:both;float:left">
	<% unless experiment.description.blank? %>
	<p>
		<b>Description:</b><br/>
		<%= experiment.description.gsub(/\n/, "<br/>").html_safe  %>
	</p>
	<% end %>

	<p>
		<b>Created by:</b>
		<%= experiment.user.login unless experiment.user.nil?%>
	</p>
	<p>
	  <b>Uploaded on:</b>
		<%= experiment.created_at.strftime("%m/%d/%Y at %I:%M%p") %>
	</p>
	<% if experiment.group %>
    <p>
  	  <b>Group:</b>
  		<%= link_to experiment.group.name, experiment.group %>
  	</p>
	<% end %>
</div>



