allenv: &ALLENV
  site_link: http://gs.glbrc.org
  admin_email: admin@gs.glbrc.org
  admin_user: admin
  admin_pass: secret
  use_remote_user: true

production:
  <<: *ALLENV
  site_name: Genome Suite
       
development:
  <<: *ALLENV
  site_name: Genome Suite Dev
  
test:
  <<: *ALLENV
  site_name: Genome Suite Test