production:
  solr:
    hostname: localhost
    port: 8982
    log_level: WARNING
    path: /solr/production
    
development:
  solr:
    hostname: localhost
    port: 8982
    log_level: INFO
    path: /solr/development
    
test:
  solr:
    hostname: localhost
    port: 8982
    log_level: WARNING
    solr_home: solr/test
