production:
  solr:
    hostname: localhost
    port: 8983
    log_level: WARNING
    path: /solr/production
    solr_home: /var/www/gs/solr
    
development:
  solr:
    hostname: localhost
    port: 8982
    log_level: INFO
    path: /solr/development
    solr_home: /var/www/gs/solr
    
test:
  solr:
    hostname: localhost
    port: 8981
    log_level: WARNING
    solr_home: solr/test
    solr_home: /var/www/gs/solr
