<div class="table">
  <table class="listing">
    <thead>
      <th>ID</th>
      <th>Type</p>
      <th>Full Description</th>
      <th>Sequence</th>
    </thead>
    <% @user.favorite_seqfeatures.each do |fav| %>
      <tr>
        <td><%= link_to fav.item.label, seqfeature_path(fav.item) %></td>
        <td><%= fav.item.class.name %> </td>
        <td><%= sliced_toggle fav.item.full_description, fav.item.full_description, "favorite_#{fav.id}_full_def" %></td>
        <td><%= link_to fav.item.bioentry.display_name, bioentry_path(fav.item.bioentry, :pos => fav.item.min_start)%></td>
      </tr>
    <% end %>
  </table>
</div>