<h1 class="pagetitle">Variant Experiment Details</h1>
<%= render :partial => "experiments/sidebar" %>

<h2>Description</h2><hr><br/>
<p></p>

<h2>Browsing</h2><hr><br/>
<p></p>

<h2>Loading Data</h2><hr><br/>
<p></p>

<%= link_to "Variant Exeriments", variants_path %> | <%= link_to "Experiment Types", experiments_path %>