<h1 class="pagetitle">Variant Sample Details</h1>
<%= render :partial => "samples/sidebar" %>

<h2>Description</h2><hr><br/>
<p></p>

<h2>Browsing</h2><hr><br/>
<p></p>

<h2>Loading Data</h2><hr><br/>
<p></p>

<%= link_to "Variant Samples", variants_path %> | <%= link_to "Sample Types", samples_path %>