<% content_for :top_bar do%>
	<h1 class="pagetitle">Variant Samples</h1>
<% end %>
<%= render :partial => "samples/sidebar", :locals => {:active => 'variant'} %>
<%= render :partial => "samples/listing", :locals => {:sample_type => "variant"} %>