<div class="asset_orange" style="color:black;">
	<div style="font-size:133%;padding-bottom:1em"><b>Info</b></div>
	<div style="padding-left:1em">
		<%= asset.info(" -chroms").gsub("\n","<br/>").gsub("\t",'&nbsp;&nbsp;&nbsp;&nbsp;').html_safe %>
	</div>
</div>