<div style="color:black;width:100%">
	<div style="font-size:133%;padding-bottom:1em"><b>Tabix VCF Info</b></div>
	<div style="padding-left:1em;padding-right:none">
	  <h3>Header</h3>
	  <%= text_area_tag 'header_info', asset.header, {:disabled => true, :rows => 10, :cols => 100} %>
    <h3>Sequence</h3>
    <%= text_area_tag 'sequence_info', asset.sequence.join("\n"), {:disabled => true, :rows => 10, :cols => 50} %>
    <h3>Sample(s)</h3>
    <%= text_area_tag 'samples_info', asset.samples.join("\n"), {:disabled => true, :rows => 10, :cols => 50} %>
	</div>
</div>