<div class="asset_orange" style="color:black;width:100%">
	<div style="font-size:133%;padding-bottom:1em"><b>Info</b></div>
	<div style="padding-left:1em;padding-right:none">
	  <h2>Header</h2>
    <div style="width:200px;height:100px;overflow:scroll;white-space:nowrap">       
        <% asset.header.split("\n").each do |line| %>
          <%= line %><br/>
        <% end%>      
    </div>
    <h2>Sequence</h2>
    <div style="width:200px;height:100px;overflow:scroll;white-space:nowrap"><%= asset.sequence.join("</br>").html_safe %></div>
    <h2>Sample(s)</h2>
    <div style="width:200px;height:50px;overflow:scroll;white-space:nowrap"><%= asset.samples.to_sentence %></div>
	</div>
</div>