<div class="asset_green" style="color:black;">
	<div style="font-size:133%;padding-bottom:1em"><b>WIG : <%= asset.id %></b></div>
	<div style="padding-left:1em">
			<p>
				<b><i><%= asset.truncated_filename %></i></b>
			</p>
			<br/>
			<p>
			 <b>Chroms:</b>
			 <%= `grep "chrom" #{@asset.data_path}`.split("\n").length %>
			</p>
			<p>
				<b>Size:</b>
				<%= number_to_human_size(asset.data_file_size) %>
			</p>
	</div>
</div>