<div style="float:right;" id="format_links">
    <%= link_to_unless active_link =='fasta', "Fasta", biosql_bioentry_path(bioentry, :fmt => 'fasta') do |name| 
      "<b>#{name}</b>".html_safe
    end %>
    |
    <%= link_to_unless active_link =='genbank', "Genbank",biosql_bioentry_path(bioentry, :fmt => 'genbank') do |name| 
      "<b>#{name}</b>".html_safe
    end %>
</div>