<% content_for :sidebar do -%>
	<% active = '' unless defined? active %>
	<h3>Sequence</h3>
	<ul class="nav">
	<li><%= link_to "Genomes", genomes_path, :class => "#{'active' if active== 'genome'}" %></li>
	<li><%= link_to "Transcriptomes", transcriptomes_path, :class => "#{'active' if active== 'transcriptome'}" %></li>
	<li><%= link_to "Search", bioentries_path, :class => "#{'active' if active=='search'}" %></li>
	</ul>
<% end -%>