<% content_for :top_bar do %>
	<h1 class="pagetitle">Upload New Genomic Sequence</h1>
<% end %>
<% content_for :sidebar do %>
	<%= render :partial => "sidebar", :locals => {:active => 'new'} %>
<% end %>
Bioentry Upload placeholder
