<% content_for :top_bar do %>
	<!-- Header here -->
	<h1 class="pagetitle">Taxon: <%= @taxon_version.name %> Version: <%= @taxon_version.version %></h1>
<% end %>

<% content_for :item_bar do %>
	<!-- Filter / Search items here -->
	<div style="float:left">
	</div>
<% end %>

<% content_for :sidebar do %>
	<!-- Sidebar / Links / Notices here -->
	<%= render :partial => "bioentries/sidebar", :locals => {:active => 'taxon'} %>
<% end %>