<% content_for :top_bar do -%>
	<h1 class="pagetitle">Combo Samples</h1>
<% end -%>
<%= render :partial => "samples/sidebar", :locals => {:active => 'combo'} %>
<%= render :partial => "samples/listing", :locals => {:sample_type => "combo"} %>