<% content_for :top_bar do -%>
	<h1 class="pagetitle">New Combo Sample</h1>
<% end -%>

<% content_for :item_bar do -%>
  <div style="float:right;padding-right:1em">
    <%= link_to "Back", combos_path, :class => "button" %>
  </div>
<% end -%>

<%= render :partial => "samples/sidebar" %>

<%= error_messages_for :rna_seq %>

<%= render :partial => 'form', :locals => {:sample => @combo} %>