<%= collection_select :gene,:bioentry_id, @bioentries, :bioentry_id, :display_info, {:prompt => "Select one.."},{:'data-onchange' => new_gene_path,:'data-params' => "taxon_id=#{@taxon.id}",:'data-with' => "bioentry_id", :'data-element' => "form_field"} %>
<div id="form_field"></div>