<script type="text/javascript">
	function loadEdit(){
		var ext1 = Ext.get('edit_genbank')	
		var container1 = new Ext.Element(document.createElement('DIV'));	
		container1.setStyle('position', 'relative');
		container1.setStyle('height', '100%');
		container1.setHeight(<%= @edit_box_height %>);
		container1.setWidth(<%= @edit_box_width %>);

    var idScheme = (!view.info ? 'edit' : 'info')
    //msg.genbank is just a filler
    for (var x=0; x < msg.genbank.length; x++)
    {
      for (name in msg.genbank[x])
      {
        var table1 = "<table id='"+msg.locus_tag+"_"+idScheme+"'>
                        <tr>
                          <td id='"+msg.genbank[x][name].sqv[0].seqfeatureID+"'>"+name+"</td>
                          <td><span></span></td>
                          <td><span></span></td>
                          <td><span></span></td>
                        </tr>
                      </table>"
                  
        for (var f = 0; f < msg.genbank[x][name].location.length; f++)
        {
          var value = msg.genbank[x][name].location[f].value
          var nameDesc = msg.genbank[x][name].location[f].name
          var td3 = document.createElement('td')
          var td4 = document.createElement('td')
          td3.setAttribute('id',msg.genbank[x][name].location[f].locationID+"_"+
                                msg.genbank[x][name].location[f].name+"_"+
                                msg.genbank[x][name].location[f].type)      
                
            if (!view.info){
              var hidden = "<input type='text' value='value.textContent}' type='hidden'>"
              var del = "<span>"
              
              var input = new.Ext.form.TextField({
                renderTo : td3,
                value : value.textContent,
                width : 85
              })
                    td3.appendChild(hidden)
                    td4.appendChild(del)
            }
            else {
              td3.appendChild(value)
            }    
          
          var table2 = "<table id='#{msg.locus_tag}"+"_"+"#{idScheme}'>
                          <tr>
                            <td><span></span></td>
                            <td></td>
                            #{td3}        
                            #{td4}
                          </tr>
                        </table>"
        }          
        for (var p = 0; p < msg.genbank[x][name].sqv.length; p++)
        {
          var desc = msg.genbank[x][name].sqv[p].value
          var nameDesc = msg.genbank[x][name].sqv[p].name
          var td3 = document.createElement('td')
          td3.setAttribute('id',msg.genbank[x][name].sqv[p].seqfeatureID+"_"+
                                msg.genbank[x][name].sqv[p].termId+"_"+
                                msg.genbank[x][name].sqv[p].rank+"_"+
                                msg.genbank[x][name].sqv[p].type)
          var td4 = document.createElement('td')
          if(!view.info){
            var hidden = "<input type='text' value='#{desc.textContent}' type='hidden'>"
            var del = "<span id='.no-background .x-toolbar'>"
          if(desc.textContent.length > 30)
          {
            var input = new Ext.form.TextArea({
              renderTo : td3,
              value : desc.textContent,
              width : 145,
              height: 75,
            })
            input.doLayout
          }
          else
          {
            var input = new Ext.form.TextField({
              renderTo : td3,
              value : desc.textContent
              width : 130 
            })
          td3.appendChild(hidden)
          td4.appendChild(del)
          }
          else {
            td3.appendChild(desc)
          }
          
          var table3 = "<table id='#{msg.locus_tag}"+"_"+"#{idScheme}'>
                          <tr>
                            <td></td>
                            <td></td>
                            #{td3}
                            <td></td>
                          </tr>
                        </table>"
          
          }
        }
		  }
		container1.dom.innerHTML = table;

		
		var GUI = buildGUI(container1);	
		var d = {};
		getGUI().EditBox.loadEdit(getGUI().EditBox.buildDesc(d,{'info':false}),
		'37');

		container1.appendTo(ext1);
	  }
		function buildGUI(container) {
			var EditBox = new AnnoJ.EditBox();

			var Viewport = new Ext.Panel(
			{
				renderTo: container,
				width: 	 '100%',
				height: '<%= @edit_box_height %>',
				layout 	: 'border',
				items  	: [
					EditBox
				]
			});

			return {
				EditBox : EditBox
			}		
		};

		function getGUI(){
			return GUI
		};
		
	};
</script>