<ul class="nested-fields">
	<%= f.inputs "mRNA", :class => "border_white" do %>
		<%= link_to_remove_fields image_tag("delete.png",:alt => "Remove mRNA"), f, :style => "float:right;margin-top:-2.25em;"%>
		<div class="gene_model_mrna_qualifiers">
			<%= render :partial => 'seqfeature_fields', :locals => {:f => f}%>
		</div>
	<% end %>
</ul>