<h1 class="pagetitle">Re-Sequencing Sample Details</h1>
<%= render :partial => "samples/sidebar" %>

<h2>Description</h2><hr><br/>
<p></p>

<h2>Browsing</h2><hr><br/>
<p></p>

<h2>Loading Data</h2><hr><br/>
<p></p>

<%= link_to "Re-Sequencing Samples", re_seqs_path %> | <%= link_to "Sample Types", samples_path %>