<% content_for :top_bar do -%>
	<h1 class="pagetitle">Re-Sequencing Samples</h1>
<% end -%>
<%= render :partial => "samples/sidebar", :locals => {:active => 're_seq'} %>
<%= render :partial => "samples/listing", :locals => {:sample_type => "re_seq"} %>