<% content_for :top_bar do -%>
	<h1 class="pagetitle">New Re-Sequencing Sample</h1>
<% end -%>

<% content_for :item_bar do -%>
  <div style="float:right;padding-right:1em">
    <%= link_to "Back", re_seqs_path, :class => "button" %>
  </div>
<% end -%>

<%= render :partial => "samples/sidebar" %>

<%= error_messages_for :re_seq %>

<%= render :partial => 'samples/form', :locals => {:sample => @re_seq} %>